@model List<Helpers.CompanySettingsDto>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<div class="col-lg-12" style="text-align: center;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>IP</th>
                <th>M1</th>
                <th>M2</th>
                <th>M3</th>
                <th>M4</th>
                <th>M5</th>
                <th>M6</th>
                <th>Kort Sayısı</th>
                <th>Foto</th>
                <th>Şirket</th>
                <th>Kullanım Bitiş Tarihi</th>
                <th>Kullanıcı Ekle</th>

                <th>
                    <button type="button" class="btn btn-primary" onclick="saveChecked()">Kaydet </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Kulüp Ekle
                    </button>

                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="checkControl">

                    <td id="id">
                        @item.Id
                    </td>

                    <td>@item.SunucuIp</td>

                    <td>
                        @if (item.M1 == true)
                        {
                            <label class="switch">
                                <input id="m1_@item.Id" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="m1_@item.Id" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }

                    </td>

                    <td>
                        @if (item.M2 == true)
                        {
                            <label class="switch">
                                <input id="m2_@item.Id" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="m2_@item.Id" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }

                    </td>

                    <td>
                        @if (item.M3 == true)
                        {
                            <label class="switch">
                                <input id="m3_@item.Id" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="m3_@item.Id" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }

                    </td>

                    <td>
                        @if (item.M4 == true)
                        {
                            <label class="switch">
                                <input id="m4_@item.Id" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="m4_@item.Id" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }

                    </td>

                    <td>
                        @if (item.M5 == true)
                        {
                            <label class="switch">
                                <input id="m5_@item.Id" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="m5_@item.Id" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }

                    </td>

                    <td>
                        @if (item.M6 == true)
                        {
                            <label class="switch">
                                <input id="m6_@item.Id" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <input id="m6_@item.Id" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }

                    </td>

                    <td>@item.CourtCount</td>
                    <td>@item.PhotoUrl</td>
                    <td>@item.CompanyName</td>
                    <td>@item.ExpirationDate</td>
                    <td><button id="@item.SunucuIp" type="button" class="btn btn-primary" onclick="addUser(this.id)">Kullanıcı Ekle </button></td>

                </tr>
            }
        </tbody>

    </table>
</div>

<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
            <div class="modal-body">
                <div class="row">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı" autocomplete="new-password">
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="password" placeholder="Şifre" autocomplete="new-password">                
                </div>

                <p class="login-box-msg">Not: Şifre en az bir Büyük , Bir Küçük Harf , Sayı ve Karakter Gerektirir ve En az "7" Haneli Olmalıdır. </p>
            </div>
      
            <div id="userOp" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveUser(this.id)">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kulüp Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label class="col-form-label">Şirket Id</label>
                        <input type="text" id="compIp" class="form-control" autocomplete="new-password">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label class="col-form-label">Şirket Adı:</label>
                        <input type="text" id="compName" class="form-control" autocomplete="new-password">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label class="col-form-label">Kullanım Bitiş Tarihi:</label>
                        <input type="date" id="compFinishDate" class="form-control" autocomplete="new-password">
                    </div>
                </div>
         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="addClub()">Kulüp Ekle</button>
            </div>
        </div>
    </div>
</div>
<script>

    function saveChecked() {


        var checkTrueList = [];

        $('#checkControl input:checked').each(function () {
            checkTrueList.push(this.id);
        });

        debugger;

        $.ajax({
            type: "Post",
            url: '../Home/GetCheckList',
            cache: false,
            data: { "trueList": checkTrueList },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == "true") {

                    alert("Başarılı");

                    window.location.href = "Anasayfa"
                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function addUser(id) {

        $("#userOp button:nth-of-type(2)").attr("id", id);

        $('#addUser').modal('toggle')
     
    }

    function saveUser(id) {

        debugger;

        var username = $("#username").val();
        var password = $("#password").val();
        var compId = id;

        $.ajax({
            type: "Get",
            url: '../Home/FirstUser',
            cache: false,
            data: { "username": username, "password": password, "compId": compId },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == "true") {

                    alert("Başarılı");

                    window.location.href = "Anasayfa"
                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function addClub() {

        compIp = $("#compIp").val();
        compName = $("#compName").val();
        compDate = $("#compFinishDate").val();


        $.ajax({
            type: "Post",
            url: '../Home/AddClub',
            cache: false,
            data: { "compIp": compIp, "compName": compName, "compDate": compDate },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == "true") {

                    alert("Başarılı");

                    window.location.href = "Anasayfa"
                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }


</script>